{% extends 'tracker/base.html' %}

{% block title %}Weight Logs{% endblock %}

{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Weight Logs</h2>

    <div class="grid gap-3">
        {% for log in logs %}
            {% if log.image %}
                <div>
                    <img src="{{ log.image.url }}" class="rounded-xl" alt="physique-image">
                </div>
            {% endif %}
                <div class="p-6 bg-white rounded-b-xl">
                    <div class="inline-block mr-10">
                        <h2 class="text-2xl">{{ log.weight }} lbs</h2>
                        <p class="text-gray-500">{{log.date }} - {{ log.created_by }}</p>
                    </div>
                    <a href="{% url 'tracker:delete_log' log.id %}" class="inline-block bg-red-500 text-white font-semibold px-6 py-2 rounded-xl hover:bg-red-800">Delete</a>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}